{% extends "base.html" %}
{%block main_area%}
    <div class="my-5">
        <h1 class="text-center mb-5">인기영화</h1>
        <div id="div_list"></div>
    </div>

    {%raw%}
    <script id="temp_list" type="x-handlebars-template">
        <table class="table">
            {{#each .}}
                <tr>
                    <td><img src="{{image}}" width="50"></td>
                    <td>{{title}} <br> {{etitle}}</td>
                    <td>{{score}}</td>
                </tr>
            {{/each}}
        </table>
    </script>
    {%endraw%}

    <script>
        getList();
        function getList() {
            $.ajax({
                type:"get",
                url:"/movies1.json",
                dataType:'json',
                success:function(data) {
                    //console.log(data);
                    const temp = Handlebars.compile($("#temp_list").html());
                    $("#div_list").html(temp(data));
                }
            })
        }
    </script>
{%endblock%}