{% extends "base.html" %}
{%block main_area%}
    <div class="my-5">
        <h1 class="text-center mb-5">줄거리 추천</h1>
        <div class="row mb-3">
            <div class="col-6 mb-3">
                <div id="div_all" class="input-group"></div>
            </div>
        </div>
        <div id="div_list" class="row"></div>
    </div>

    {%raw%}
    <script id="temp_all" type="x-handlebars-template">
        <input id="title" list = "all" class="form-control">
        <datalist id = "all">
            {{#each .}}
                <option value = "{{title}}" />
            {{/each}}
        </datalist>
        <button class="btn btn-primary">영화추천</button>
    </script>
    <script id="temp_list" type="x-handlebars-template">
        {{#each .}}
            <div class="col-6 col-md-4, col-xl-2">
                <div class="card p-2">
                    <img src="{{image}}">
                    <div>{{title}}</div>
                </div>
            </div>
        {{/each}}
    </script>
    {%endraw%}

    <script>
        getAll();
        function getAll() {
            $.ajax({
                type: "get",
                url: "/movies.json",
                dataType: "json",
                success: function(data) {
                   // console.log(data);
                    const temp = Handlebars.compile($("#temp_all").html());
                    $("#div_all").html(temp(data));
                }
            })
        }

        function getList() {
            $.ajax({
                type:"get",
                url:"/movie2.json/" + $("#title").val(),
                dataType:"json",
                success: function(data) {
                    const temp = Handlebars.compile($("#temp_list").html());
                    $("#div_list").html(temp(data));
                }
            })
        }

        $("#div_all").on("click", ".btn", function() {
            const title = $("#title").val();
            if(title == "") {
                alert("재목을 입력헤주세요");
            }else {
                getList();
            }
        })
        </script>
{%endblock%}